{% extends "core/base.html" %}

{% block title %}
    Welcome
{% endblock title %}

{% block content %}
<!-- Newest Items Section -->
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-bold text-gray-800">Newest Items</h2>
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg rounded-lg overflow-hidden">
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top">
                        {% else %}
                            <img src="/path/to/default/image.jpg" alt="No Image" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-gray-900">{{ item.name }}</h5>
                        <p class="card-text text-gray-500">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Categories Section -->
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-bold text-gray-800">Categories</h2>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg rounded-lg overflow-hidden">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title text-gray-900">{{ category.name }}</h5>
                        <p class="card-text text-gray-500">{{ category.items.count }} Items</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
